.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.egg-info/

.env

downloads/

tests/
pytest.ini
ruff.toml
requirements-dev.txt

.github/

.idea/
.vscode/
.DS_Store

../Dockerfile
.dockerignore

.git/
.gitignore
